body {
  background-color: lightgrey;
}

h1 {
  text-align: center;
}

.register {
  border: solid 2px black;
  background-color: lightblue;
}

.transaction {
  border: solid 2px black;
  background-color: lightblue;
}

.balance {
  margin-top: 5px;
  border: solid 2px black;
  background-color: lightblue;
}

h3 {
  text-align: center;
}

.col-md-6 {
  padding: 15px;
}

#currentBal {
  border: solid 1px black;
  background-color: white;
}
